<div class="dashboard-wrapper">
  <%= render partial: './partials/sidebar', locals: {usr: @user} %>
  <div class="main-area">
    <div class="top-bar">
      <h1 class="top-bar-title"><%= @friend.name%> </h1>
      <div class="top-bar-actions">
        <%# <button class="btn btn-primary" data-bs-target="#expenseModal" data-bs-toggle="modal" type="button"> Add an expense</button> %>
        <%#= link_to "Add new Expanse", new_expanse_path, remote: true%>
        <%# <button class="btn btn-secondary" type="button"> Settle up
        </button> %>
      </div>
    </div>
    <div class="dashboard-balances">
      <%= render partial: './partials/usr_expanse', locals: {usr_expanses: @friend.expanse_data} %>
      
    </div>
  </div>
</div>